<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <p>

        </p>
        <H1> Test how save </H1>
        <form th:action="@{/user/add}" method="post">
            <div><label> User Name : <input type="email" name="email"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <input type="submit" value="Save"/>
        </form>

        <h1> All user addByYou </h1>
        <form th:action="@{/user/all}" method="get">

            <input type="submit" value="allUser"/>
        </form>
    </body>
</html>